[Desktop Entry]
Name=WmXmms
Comment=Xmms Mp3 player
Comment[pl]=Odtwarzacz MP3 Xmms
Exec=wmxmms
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
# vi: encoding=utf-8
