[Desktop Entry]
Encoding=UTF-8
Name=WmXmms
Comment=Xmms Mp3 player
Comment[pl]=Odtwarzacz MP3 Xmms
Exec=wmxmms
Terminal=false
Type=Application
Categories=AudioVideo;
# vi: encoding=utf-8
