[Desktop Entry]
Name=Xmms
Comment=X Multimedia System
Comment[bg]=X Ìóëòèìåäèéíà ñèñòåìà
Comment[ca]=Sistema multimèdia X
Comment[cs]=Multimediální přehrávač
Comment[da]=X multimediasystem
Comment[de]=X-Multimedia-System
Comment[el]=Σύστημα Πολυμέσων του X
Comment[eo]=X-a plurmedia sistemo
Comment[es]=Sistema multimedia para X
Comment[et]=X'i multimeedia süsteem
Comment[fi]=X Multimediajärjestelmä
Comment[fr]=Système multimédia XMMS
Comment[gl]=Sistema Multimedia para X
Comment[he]=X-ל הידמיטלומ תכרעמ
Comment[hr]=X Multimedijalni sustav
Comment[hu]=X multimédialejátszó
Comment[is]=Spilari f. margskonar hljóðskrár, þ.m.t. mp3.
Comment[it]=Sistema multimediale per X
Comment[ja]=Xマルチメディアシステム
Comment[lt]=X Multimedijos Sistema
Comment[mk]=MP3 репродукција
Comment[nl]=X Multimedia Systeem
Comment[no]=X Multimedia-system
Comment[pl]=System multimediów dla X11
Comment[pt]=Sistema Multimédia X
Comment[pt_BR]=Sistema de Multimídia X
Comment[ro]=Winamp pentru Linux
Comment[ru]=Система мультимедиа для X
Comment[sk]=Prehrávač médii pre X
Comment[sl]=Večpredstavnostni sistem za X
Comment[sv]=X Multimediasystem
Comment[ta]=X Àø°¼¸õ «¨ÁôÒ
Comment[tr]=X Çoklu Ortam Sistemi
Comment[uk]=Мультимедіа система для X
Comment[zh_CN.GB2312]=X 多媒体系统
Exec=xmms %F
Icon=xmms.xpm
MimeType=audio/x-mp3;audio/x-mod;audio/x-wav;audio/x-mpegurl;audio/x-scpls;application/x-ogg
Path=
SwallowExec=
SwallowTitle=
Terminal=0
TerminalOptions=
Type=Application
BinaryPattern=
MapNotify=false
# vi: encoding=utf-8
