[Desktop Entry]
Encoding=UTF-8
Name=Xmms
Comment=X Multimedia System
Comment[bg]=X ĐŃĐťŃĐ¸ĐźĐľĐ´Đ¸ĐšĐ˝Đ° ŃĐ¸ŃŃĐľĐźĐ°
Comment[ca]=Sistema multimĂ¨dia X
Comment[cs]=MultimediĂĄlnĂ­ pĹehrĂĄvaÄ
Comment[da]=X multimediasystem
Comment[de]=X-Multimedia-System
Comment[el]=ÎŁĎĎĎÎˇÎźÎą Î ÎżÎťĎÎźÎ­ĎĎÎ˝ ĎÎżĎ X
Comment[eo]=X-a plurmedia sistemo
Comment[es]=Sistema multimedia para X
Comment[et]=X'i multimeedia sĂźsteem
Comment[fi]=X MultimediajĂ¤rjestelmĂ¤
Comment[fr]=SystĂ¨me multimĂŠdia XMMS
Comment[gl]=Sistema Multimedia para X
Comment[he]=X-× ××××××××× ×Ş××¨×˘×
Comment[hr]=X Multimedijalni sustav
Comment[hu]=X multimĂŠdialejĂĄtszĂł
Comment[is]=Spilari f. margskonar hljĂłĂ°skrĂĄr, Ăž.m.t. mp3.
Comment[it]=Sistema multimediale per X
Comment[ja]=XăăŤăăĄăăŁă˘ăˇăšăă 
Comment[ko]=MP3 żŹÁÖąâ
Comment[lt]=X Multimedijos Sistema
Comment[mk]=MP3 ŃĐľĐżŃĐžĐ´ŃĐşŃĐ¸ŃĐ°
Comment[nl]=X Multimedia Systeem
Comment[no]=X Multimedia-system
Comment[pl]=System multimediów dla X11
Comment[pt_BR]=Sistema de MultimĂ­dia X
Comment[pt]=Sistema MultimĂŠdia X
Comment[ro]=Winamp pentru Linux
Comment[ru]=ĐĄĐ¸ŃŃĐľĐźĐ° ĐźŃĐťŃŃĐ¸ĐźĐľĐ´Đ¸Đ° Đ´ĐťŃ X
Comment[sk]=PrehrĂĄvaÄ mĂŠdii pre X
Comment[sl]=VeÄpredstavnostni sistem za X
Comment[sv]=X Multimediasystem
Comment[ta]=X ĂĂ¸Â°ÂźÂ¸Ăľ ÂŤÂ¨ĂĂ´Ă
Comment[tr]=X Ĺoklu Ortam Sistemi
Comment[uk]=ĐŃĐťŃŃĐ¸ĐźĐľĐ´ŃĐ° ŃĐ¸ŃŃĐľĐźĐ° Đ´ĐťŃ X
Comment[zh_CN]=X ĺ¤ĺŞä˝çłťçť
Exec=xmms
Icon=xmms.png
MimeType=audio/x-mp3;audio/x-mod;audio/x-wav;audio/x-mpegurl;audio/x-scpls;application/x-ogg
Path=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-BinaryPattern=
X-MapNotify=
Categories=AudioVideo;Player;
# vi: encoding=utf-8
